<div class="container login-container" ng-controller="homeCtrl as home">
  <div class="panel">
    <div class="panel-body">
        <form ng-submit="home.resetPassword()">
          <legend>Reset Password</legend>
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" name="password" id="password" placeholder="Enter New password" class="form-control" ng-model="home.password" autofocus>
          </div>
          <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input type="password" name="confirm" id="confirm" placeholder="Enter Confirm password" class="form-control" ng-model="home.confirm">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Change Password</button>
          </div>
        </form>
    </div>
  </div>
</div>
